@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.submit {
    border: none;
    color: white;
    padding: 8px 16px;
    background-color: #3F51B5;
    border-radius: 5px;
}
.like-button {
    color: white;
    padding: 8px 16px;
    background-color: #FF4081;
    border-radius: 5px;
    text-decoration: none;
}

#main, #container {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
}

.footer div {
    margin-top: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #3F51B5;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

table#main-list, #details-table {
    border-collapse: collapse; 
    border-radius: 0.75em;  
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#main-list td {
    border-top: 1px solid #FF4081;
}

#main-list tr:hover {
    background-color: #ccc;
}

#details-table td {
    background-color: #E8EAF6;
}

#main-list th, #details-table th {
    background-color: #3F51B5;
    color: white;
    vertical-align: top;
}

table th, table td {
    padding: 10px 10px;
}

#main-list td:hover {
    cursor: pointer;
}

#details-table th{
    text-align: end;
}

#new-form{
    float: left;
    margin-right: auto;
}

.form-element {
    outline: 0;
    border: none;
    border-bottom: 2px solid #3F51B5;
}

@media screen and (min-width: 700px) {
    #main-list, #details-table {
        width: 700px;
    }
  }

@media screen and (max-width: 700px) {
    #main-list, #details-table {
        width: 90%;
    }
}